/* BREAKPOINT */
@mixin breakpoint($point) {

	@if $point == lg {
		@media (min-width: 1200px) { @content ; }
	}

	@else if $point == md {
		@media (min-width: 992px) { @content ; }
	}

	@else if $point == sm {
		@media (min-width: 768px)  { @content ; }
	}

	@else if $point == xs {
		@media (max-width: 767px)  { @content ; }
	}

    @else if $point == xxs {
        @media (max-width: 479px)  { @content ; }
    }

    @else if $point == md-lg {
        @media (min-width: 992px) and (max-width: 1199px)  { @content ; }
    }

    @else if $point == sm-md {
        @media (min-width: 768px) and (max-width: 991px)  { @content ; }
    }

    @else if $point == sm-lg {
        @media (min-width: 768px) and (max-width: 1199px)  { @content ; }
    }
}


/* TRANSITIONS */
@mixin transition($seconds...) {
	-webkit-transition: all $seconds ease-in-out;
	-moz-transition: all $seconds ease-in-out;
	-ms-transition: all $seconds ease-in-out;
	-o-transition: all $seconds ease-in-out;
	transition: all $seconds ease-in-out;
}

/* GRADIENT */
@mixin gradient($color1,$color2) {
	background: $color1; /* Old browsers */
	background: -moz-linear-gradient(left, $color1 0%, $color2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, $color1 0%,$color2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, $color1 0%,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); /* IE6-9 */
}

/* BUTTONS */
@mixin btn($color){
	background: $color;
	border: 1px solid $color;
	color: #ffffff;
	border-radius: 0;
	line-height: 1;
	padding: 5px 15px;
	text-transform: uppercase;
	font-family: $font-secondary;
	font-size: 1.2em;
	letter-spacing: 0.5px;
	outline: none;

	&.btn-big{
		padding: 8px 20px;
	}

	&.btn-full{
		display: block;
		width: 100%;
	}

	&:focus{
		background: $color;
		border: 1px solid $color;
		color: #ffffff;
		text-decoration: none;
	}

	&:hover,
	&:active{
		background-color: $color!important;
		border: 1px solid $color;
		color: #ffffff;
		text-decoration: none;

		@include breakpoint(sm){
			background-color: #ffffff!important;
			color: $color!important;
			text-decoration: none;
			border-color: $color!important;
		}
	}

	&:disabled{
		background: $brand-mono-light;
		border: 1px solid $brand-mono-light;

		&:hover{
			background: $brand-mono-light!important;
			color: #ffffff!important;
			border: 1px solid $brand-mono-light!important;
		}
	}
}


/* PLACEHOLDERS */

@mixin placeholder {
    &:-ms-input-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &::-webkit-input-placeholder {
        @content
    }
}
