// Borders

// Brands
$brand-primary: #1bb7ce;
$brand-secondary: #ffcb00;
$brand-info: #6fbbec;
$brand-success: #76ae70;
$brand-success-fluo: #66ff00;
$brand-warning: #eaa615;
$brand-danger: #e75c2b;


// Social colors
$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-linkedin: #0077B5;
$color-google-plus: #dd4b39;

//BGs
$bg-light: #f4f4f4;
$bg-dark: #666666;
$bg-success: #76ae70;


// Typography
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-size: 18px;
$line-height-base: 1.6;
$text-color: #636b6f;
$text-color-light: #8a8a8a;
$text-color-extra-light: #cccccc;
