footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	text-align: center;
	display: table;
	background: $brand-primary;

	.footer__inside{
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		color: #ffffff;
	}
}
